* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: white;
    max-height: 68px;
}


@media (max-width: 667px) {
    .grip-icon {
        display: none;
    }
    .question-icon {
        display: none;
    }
    .ellipsis-icon {
        display: none;
    }

}

    

.ms-container{
    padding-top: 68px;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
}

.ms-menu {
    color: white;
    background-color: #0F263C;
    width: 100px;
    height: 100vh;
    font-size: 12px;
    background-image: url("/img2/sidebar-bg.png");
}

@media (max-width: 576px) {
    .ms-menu {
        width: auto;
    }
}

.ms-menu i{
    padding: 10px;
}

.ms-student{
    background-color: #1F72E8;
    min-height: 100px;
    width: 100%;
    color: white;
}

.ms-pill{
    background-color: #165BBA;
    font-size: 12px;
    font-weight: 100;
    margin: 0 3px;
}

.ms-boolean {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

@media (max-width: 767px) {
    #offcanvasExample {
        width: 100%;
    }
}

.ms-grid {
    height: 100vh;
    width: calc(100vw - 100px);
}

.ms-table {
    font-size: 12px;
}

.ms-code {
    background-color: #F26551;
    padding: 5px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    margin-right: 3px;
}

.ms-symbols i{
    color: #6C757D;
    border-radius: 3px;
    border:  #6C757D solid 1px;
    padding: 5px;
    margin: 0 2px;
}

.ms-title {
    background-color: #F7F7F7;
}

.ms-card {
    margin: 20px 0;
}

